* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 100%;
  line-height: 1;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 777px;
}

h1 {
  margin: 2rem;
}

.search-bar {
  border: 5px solid #333;
  border-radius: 30px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: lowercase;
  width: calc(100% - 2rem);
}

.search-bar:focus {
  outline: none;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  width: 100%;
  grid-gap: 1rem;
  overflow: auto;
  padding: 0 1rem 1rem 1rem;
}

.result {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.emoji > * {
  pointer-events: none;
}

.emoji {
  border: 5px solid #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
  margin-bottom: .5rem;
  position: relative;
}

.emoji:hover {
  background-color: #eee;
}

.emoji:active {
  background-color: #ddd;
}

.emoji::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.emoji-char {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.emoji-name {
  line-height: 1.2;
}

.notification {
  position: fixed;
  bottom: -65px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top: 5px solid #333;
  text-align: center;
  transition: bottom .3s;
}

.notification.active {
  bottom: 0;
}

.copy-field {
  position: absolute;
  clip: rect(0,0,0,0);
}
